
#header { 
    font-family: 'Baloo Tammudu', cursive;
    color: black; 
    margin-top: 20px; 
   text-align: center;
    font-size: 45px;
}

.wrapper{
    font-family: 'Baloo Tammudu', cursive;
    color: black; 
    margin-bottom: 20px;
    text-align: center;
}

body { 
    background-image: url("https://pre00.deviantart.net/c5ad/th/pre/f/2015/046/3/5/minimalist_wallpaper___ariel___disney_by_blugo34-d8i34u9.png");
   background-size: cover;
}

img { 
    max-height: 250px;
    width: auto;
}

#answerblock {
    text-align: center;
  
  }
  
  #questionblock {
    text-align: center;
    font-weight: bold;
  }
  
  #reset {
    visibility: visible;
  }
  